* {
  box-sizing: border-box;
}
html, body {
  width:100%;
  margin:0;
  padding:0;
}
body {
  color: #353535;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:20px;
  font-family: sans-serif;
  padding-bottom:1.5em;
}
input {
  font-family: inherit;
  border: none;
  outline: none;
}
tripledot:before {
  content: "...";
  line-height: 1.25em;
  font-size: 1.6em;
  font-weight: 800;
}
a {
  text-decoration:none;
}
form {
  margin:0;
  padding:0;
}
.page {
  width:100%;
  max-width:50em;
}
.btn {
  border: none;
  border-radius: 3px;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  padding: 0 2em;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  background: #5FC3E4;
  text-align: center;
  letter-spacing: 0.5px;
}
.btn:hover {
  background: #6fd3f4;
}
.btn:active {
  background: #4db1d2;
}
.dynamic {
  transition: all 0.2s ease-in-out;
}

.shadow   { box-shadow: 0  1px  3px 0   rgba(0,0,0,0.2) }
.shadow-2 { box-shadow: 0  4px  8px 0   rgba(0,0,0,0.2) }
.shadow-3 { box-shadow: 0  8px 14px 1px rgba(0,0,0,0.2) }
.shadow-4 { box-shadow: 0 13px 20px 2px rgba(0,0,0,0.2) }
.shadow-5 { box-shadow: 0 19px 26px 3px rgba(0,0,0,0.2) }
  .dynamic.shadow:hover { box-shadow: 0  2.5px  5px 0     rgba(0,0,0,0.2) }
.dynamic.shadow-2:hover { box-shadow: 0    6px 12px 0.5px rgba(0,0,0,0.2) }
.dynamic.shadow-3:hover { box-shadow: 0 10.5px 21px 1.5px rgba(0,0,0,0.2) }
.dynamic.shadow-4:hover { box-shadow: 0   16px 32px 2.5px rgba(0,0,0,0.2) }
.dynamic.shadow-5:hover { box-shadow: 0 22.5px 45px 3.5px rgba(0,0,0,0.2) }
  .dynamic.shadow:active,   .dynamic.shadow:focus { box-shadow: 0  4px  8px 0   rgba(0,0,0,0.2) }
.dynamic.shadow-2:active, .dynamic.shadow-2:focus { box-shadow: 0  8px 14px 1px rgba(0,0,0,0.2) }
.dynamic.shadow-3:active, .dynamic.shadow-3:focus { box-shadow: 0 13px 20px 2px rgba(0,0,0,0.2) }
.dynamic.shadow-4:active, .dynamic.shadow-4:focus { box-shadow: 0 19px 26px 3px rgba(0,0,0,0.2) }
.dynamic.shadow-5:active, .dynamic.shadow-5:focus { box-shadow: 0 26px 32px 4px rgba(0,0,0,0.2) }
.inner-shadow   { box-shadow: 0  1px  3px 0   rgba(0,0,0,0.2) inset }
.inner-shadow-2 { box-shadow: 0  4px  8px 0   rgba(0,0,0,0.2) inset }
.inner-shadow-3 { box-shadow: 0  8px 14px 1px rgba(0,0,0,0.2) inset }
.inner-shadow-4 { box-shadow: 0 13px 20px 2px rgba(0,0,0,0.2) inset }
.inner-shadow-5 { box-shadow: 0 19px 26px 3px rgba(0,0,0,0.2) inset }

.pb {
  width:100%;
  background:#fff;
  padding:1em;
  border-radius:3px;
}
html .circle {
  border-radius: 100%;
}
.lighten:hover {
  opacity: 0.9;
}
.lighten, .lighten:active {
  opacity: 1;
}
.clickable {
  cursor:pointer;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nopad {
  padding:0;
}
.banner-wrap {
  width:100%;
  height:0;
  padding-bottom: 45%;
  position:relative;
  display:table;
}
@media only screen and (min-width: 1000px) {
  .banner-wrap {
    display:block;
    height:450px;
    padding-bottom:0;
  }
}
.banner {
  position: absolute;
  top:0; left:0; right:0; bottom:0;
  width:100%; height:100%;
  border:none;
  background:#fff;
}
.wrap1 {
  margin-top: 1.5em;
}
.center {
  text-align:center;
}
.spacer-two {
  width:70%;
  border-top: 1px solid #eee;
  margin: 4em 15%;
  margin-bottom:2em;
}
.spacer-two:before {
  display:block;
  content:". . .";
  font-size:3em;
  color:#eee;
  width:100%;
  text-align:center;
}
.float-block {
  display:block;
  float:left;
}
.spacer {
  height:1px;
  width:70%;
  background:#eee;
  margin: 2em 15%;
}
.spinner {
  height: 3em;
  width: 3em;
  margin: auto;
  top:0; bottom:0; left:0; right:0;
  position: absolute;
  animation: rotate .6s infinite linear, spinner-color 12s infinite linear;
  border: 0.3em solid rgba(160, 174, 239, .15);
  border-top-color: rgba(160, 174, 239, .8);
  border-radius: 100%;
}
@keyframes spinner-color {
  33% { border: 0.3em solid rgba(239, 160, 174, .15);
  border-top-color: rgba(239, 160, 174, .8); }
  66% { border: 0.3em solid rgba(174, 239, 160, .15);
  border-top-color: rgba(174, 239, 160, .8); }
}
.popup-body {
  position: fixed;
  width:100%; height:100%; min-height:100%;
  top:0; bottom:0; left:0; right:0;
  margin:0; padding:0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index:2000;
}
.popup-bg {
  cursor:pointer;
  position:fixed;
  width:100%; height:100%; min-height:100%;
  background:rgba(230,230,230,0.9);
  animation: fade-in 1 0.05s;
}
.popup-wrap {
  width:100%; min-height:100%;
  padding: 2em;
  padding-bottom:5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.popup {
  position: relative;
  padding: 1.5em;
  max-width: 22em;
  animation: appear-three ease-out 1 0.5s;
}
.circle-button {
  width: 1.5em;
  height: 1.5em;
  display: block;
  cursor: pointer;
  padding: 0.4em;
}
.button-icon {
  
}
.close-wrap {
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  top: 0.2em;
  right: 0.2em;
  display: block;
  cursor: pointer;
  padding: 0.3em;
}
.close-wrap.small {
  width: 0.9em;
  height: 0.9em;
  top: 0.1em;
  right: 0.1em;
  padding: 0.2em;
}
.circle-button, .button-icon::before, .button-icon::after, .close-wrap, .close::before, .close::after {
  transition: 0.2s;
}
.circle-button:hover, .button-icon::before, .button-icon::after, .close-wrap:hover, .close::before, .close::after {
  background: #ccc;
}
.circle-button:active {
  background: #999;
}
.popup-bg:active + * > * > .close-wrap, .close-wrap:active {
  background: #f00;
}
.circle-button:hover > .button-icon::before, .circle-button:hover > .button-icon::after, .circle-button:active > .button-icon::before, .circle-button:active > .button-icon::after, .close-wrap:hover > .close::before, .close-wrap:hover > .close::after, .close-wrap:active > .close::before, .close-wrap:active > .close::after, .popup-bg:active + * > * > .close-wrap > .close::before, .popup-bg:active + * > * > .close-wrap > .close::after {
  background: #fff;
}
.popup-bg:active + * > * > .close-wrap, .close-wrap:hover, .close-wrap:active, .circle-button:hover, .circle-button:active {
  border-radius:50%;
}
.close {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
}
.close::before {
  animation: close-icon-stroke 0.5s ease-out 1;
  transform: rotate(45deg);
}
.close::after {
  animation: close-icon-stroke 0.6s 1;
  transform: rotate(-45deg);
}
@keyframes close-icon-stroke {
  0%, 80% { width:0 }
  100% { width: 100%; }
}
#snowCanvas {
  position:fixed;
  width:100vw;
  height:100vh;
  z-index:2000;
  top:0;
  left:0;
  pointer-events: none;
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -o-pointer-events: none;
  animation: fade-in 2s linear;
}
@keyframes rotate {
  0% { transform: rotate(-360deg); }
  100% { transform: rotate(0); }
}
@keyframes appear-one {
  0% { transform: translateY(-0.75em); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@keyframes appear-two {
  0% { transform: translateX(1em); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@keyframes appear-three {
  0% { transform: translateX(-20em); opacity: 0; }
  40% { transform: translateX(0.8em); }
  50% { transform: translateX(1em); }
  60% { transform: translateX(0.9em); }
  100% { transform: translateX(0); opacity: 1; }
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes roundify {
  100% { border-radius: 50%; }
}
@keyframes stroke {
  100% { stroke-dashoffset: 0; }
}
