:root {
  --transition-main: all 0.2s ease-out;
  
  --size-font-main: 20px;
  --size-page-max-width: 50rem;
  
  --col-text-main: #353535;
  --col-text-btn-dark: #fff;
  --col-text-btn-light: #707070;
  --col-icon-btn-dark: var(--col-text-btn-dark);
  --col-icon-btn-light: var(--col-text-btn-light);
  --col-bg-main: #f9f9f9;
  --col-bg-block: #fff;
  --col-bg-2: #f2f2f2;
  --col-search: var(--col-bg-2);
  --col-search-focus: var(--col-bg-block);
  --col-primary-50:  #E0F7FA;
  --col-primary-100: #B2EBF2;
  --col-primary-200: #80DEEA;
  --col-primary-300: #4DD0E1;
  --col-primary-400: #26C6DA;
  --col-primary-500: #00BCD4;
  --col-primary-600: #00ACC1;
  --col-primary-700: #0097A7;
  --col-primary-800: #00838F;
  --col-primary-900: #006064;
  --col-secondary-50:  #E0F2F1;
  --col-secondary-100: #B2DFDB;
  --col-secondary-200: #80CBC4;
  --col-secondary-300: #4DB6AC;
  --col-secondary-400: #26A69A;
  --col-secondary-500: #009688;
  --col-secondary-600: #00897B;
  --col-secondary-700: #00796B;
  --col-secondary-800: #00695C;
  --col-secondary-900: #004D40;
  --col-btn-primary: var(--col-primary-500);
  --col-btn-primary-hover: var(--col-primary-300);
  --col-btn-primary-active: var(--col-primary-700);
  --col-btn-secondary: var(--col-secondary-500);
  --col-btn-secondary-hover: var(--col-secondary-300);
  --col-btn-secondary-active: var(--col-secondary-700);
  --col-btn-utility: #ccc;
  --col-link: var(--col-primary-500);
  --col-link-hover: var(--col-primary-300);
  --col-link-active: var(--col-primary-700);
  --col-screen-grayout: rgba(230,230,230,0.9);
  --col-overlay: rgba(255,255,255,0.95);
  
  --shadow-color: rgba(0,0,0,0.15);
  --shadow-elev-1:  0  1px  3px var(--shadow-color);
  --shadow-elev-2:  0  3px  4px var(--shadow-color);
  --shadow-elev-3:  0  5px  5px var(--shadow-color);
  --shadow-elev-4:  0  7px  6px var(--shadow-color);
  --shadow-elev-5:  0  9px  7px var(--shadow-color);
  --shadow-elev-6:  0 11px  8px var(--shadow-color);
  --shadow-elev-7:  0 13px  9px var(--shadow-color);
  --shadow-elev-8:  0 15px 10px var(--shadow-color);
  --shadow-elev-9:  0 17px 11px var(--shadow-color);
  --shadow-elev-10: 0 19px 12px var(--shadow-color);
  --shadow-elev-11: 0 21px 13px var(--shadow-color);
}
:root.dark-theme {  
  --col-text-main: #bbb;
  --col-text-btn-dark: #fff;
  --col-text-btn-light: #707070;
  --col-icon-btn-dark: var(--col-text-btn-dark);
  --col-icon-btn-light: var(--col-text-btn-light);
  --col-bg-main: #242424;
  --col-bg-block: #353535;
  --col-bg-2: #555;
  --col-search: var(--col-bg-2);
  --col-search-focus: var(--col-bg-block);
  --col-btn-primary: var(--col-primary-700);
  --col-btn-primary-hover: var(--col-primary-500);
  --col-btn-primary-active: var(--col-primary-900);
  --col-btn-secondary: var(--col-secondary-700);
  --col-btn-secondary-hover: var(--col-secondary-500);
  --col-btn-secondary-active: var(--col-secondary-900);
  --col-btn-utility: #ccc;
  --col-link: var(--col-primary-300);
  --col-link-hover: var(--col-primary-200);
  --col-link-active: var(--col-primary-600);
  --col-screen-grayout: rgba(75,75,75,0.9);
  --col-overlay: rgba(53,53,53,0.95);
}
* {
  box-sizing: border-box;
}
:focus {
  outline:none;
}
::-moz-focus-inner {
  border: 0;
}
.dynamic {
  transition: all 0.2s ease-out;
  transition: var(--transition-main);
}
html, body {
  width:100%;
  margin:0;
  padding:0;
}
:root, body {
  color: #353535;
  color: var(--col-text-main);
  font-size:20px;
  font-size:var(--size-font-main);
}
body {
  background: #f9f9f9;
  background: var(--col-bg-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  padding-bottom:1.5em;
}
input {
  font-family: inherit;
  border: none;
  outline: none;
}
tripledot:before {
  content: "...";
  line-height: 1.25em;
  font-size: 1.6em;
  font-weight: 800;
}
a {
  text-decoration: none;
  color: #009688;
  color: var(--col-link);
}
a:hover {
  color: #4DB6AC;
  color: var(--col-link-hover);
}
a:active {
  color: #00796B;
  color: var(--col-link-active);
}
form {
  margin:0;
  padding:0;
}

.shadow   { box-shadow: var(--shadow-elev-1) }
.shadow-2 { box-shadow: var(--shadow-elev-3) }
.shadow-3 { box-shadow: var(--shadow-elev-5) }
.shadow-4 { box-shadow: var(--shadow-elev-7) }
.shadow-5 { box-shadow: var(--shadow-elev-9) }
  .dynamic.shadow:hover { box-shadow: var(--shadow-elev-2) }
.dynamic.shadow-2:hover { box-shadow: var(--shadow-elev-4) }
.dynamic.shadow-3:hover { box-shadow: var(--shadow-elev-6) }
.dynamic.shadow-4:hover { box-shadow: var(--shadow-elev-8) }
.dynamic.shadow-5:hover { box-shadow: var(--shadow-elev-10) }
  .dynamic.shadow:active,   .dynamic.shadow:focus { box-shadow: var(--shadow-elev-3) }
.dynamic.shadow-2:active, .dynamic.shadow-2:focus { box-shadow: var(--shadow-elev-5) }
.dynamic.shadow-3:active, .dynamic.shadow-3:focus { box-shadow: var(--shadow-elev-7) }
.dynamic.shadow-4:active, .dynamic.shadow-4:focus { box-shadow: var(--shadow-elev-9) }
.dynamic.shadow-5:active, .dynamic.shadow-5:focus { box-shadow: var(--shadow-elev-11) }
.inner-shadow   { box-shadow: var(--shadow-elev-1) inset }
.inner-shadow-2 { box-shadow: var(--shadow-elev-3) inset }
.inner-shadow-3 { box-shadow: var(--shadow-elev-5) inset }
.inner-shadow-4 { box-shadow: var(--shadow-elev-7) inset }
.inner-shadow-5 { box-shadow: var(--shadow-elev-9) inset }

.page {
  width:100%;
  max-width:50em;
  max-width:var(--size-page-max-width);
}
.btn {
  border: none;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-size: 0.9em;
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
  color: var(--col-text-btn-dark);
  background: #5FC3E4;
  background: var(--col-btn-primary);
  text-align: center;
  letter-spacing: 0.5px;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.btn:hover {
  background: var(--col-btn-primary-hover);
}
.btn:active {
  background: var(--col-btn-primary-active);
}
.btn-alt {
  background: var(--col-btn-secondary);
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.btn-alt:hover {
  background: var(--col-btn-secondary-hover);
}
.btn-alt:active {
  background: var(--col-btn-secondary-active);
}
.btn svg, .btn-alt svg {
  fill: var(--col-icon-btn-dark);
}
.wave {
  position: relative;
  overflow: hidden;
}
.wave:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  margin-top: -100px;
  background: #fff;
  border-radius: 100%;
  opacity: 0.25;
  transform: scale(0);
  pointer-events:none;
}
.wave:active:after {
  animation: ripple 0.4s ease-out;
}
@keyframes ripple {
    0% { transform: scale(0) }
  100% { transform: scale(1); opacity: 0 }
}

.pb {
  width:100%;
  background:#fff;
  background:var(--col-bg-block);
  padding:1em;
  border-radius:3px;
}
html .circle {
  border-radius: 100%;
}
.lighten:hover {
  opacity: 0.9;
}
.lighten, .lighten:active {
  opacity: 1;
}
.clickable {
  cursor:pointer;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nopad {
  padding:0;
}
.banner-wrap {
  width:100%;
  height:0;
  padding-bottom: 45%;
  position:relative;
  display:table;
}
@media only screen and (min-width: 1000px) {
  .banner-wrap {
    display:block;
    height:450px;
    padding-bottom:0;
  }
}
.banner {
  position: absolute;
  top:0; left:0; right:0; bottom:0;
  width:100%; height:100%;
  border:none;
  background:#fff;
  background:var(--col-bg-block);
}
.wrap1 {
  margin-top: 1.5em;
}
.center {
  text-align:center;
}
.spacer-two {
  width:70%;
  border-top: 1px solid #eee;
  margin: 4em 15%;
  margin-bottom:2em;
}
.spacer-two:before {
  display:block;
  content:". . .";
  font-size:3em;
  color:#eee;
  width:100%;
  text-align:center;
}
.float-block {
  display:block;
  float:left;
}
.spacer {
  height:1px;
  width:70%;
  background:#eee;
  margin: 2em 15%;
}
.spinner {
  height: 3em;
  width: 3em;
  margin: auto;
  top:0; bottom:0; left:0; right:0;
  position: absolute;
  animation: rotate .6s infinite linear, spinner-color 12s infinite linear;
  border: 0.3em solid rgba(160, 174, 239, .15);
  border-top-color: rgba(160, 174, 239, .8);
  border-radius: 100%;
}
@keyframes spinner-color {
  33% { border: 0.3em solid rgba(239, 160, 174, .15);
  border-top-color: rgba(239, 160, 174, .8); }
  66% { border: 0.3em solid rgba(174, 239, 160, .15);
  border-top-color: rgba(174, 239, 160, .8); }
}
.popup-body {
  position: fixed;
  width:100%; height:100%; min-height:100%;
  top:0; bottom:0; left:0; right:0;
  margin:0; padding:0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index:2000;
}
.popup-bg {
  cursor:pointer;
  position:fixed;
  width:100%; height:100%; min-height:100%;
  background:rgba(230,230,230,0.9);
  background:var(--col-screen-grayout);
  animation: fade-in 1 0.05s;
}
.popup-wrap {
  width:100%; min-height:100%;
  padding: 2em;
  padding-bottom:5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.popup {
  position: relative;
  padding: 1.5em;
  max-width: 22em;
  animation: appear-three ease-out 1 0.5s;
}
.circle-button {
  width: 1.5em;
  height: 1.5em;
  display: block;
  cursor: pointer;
  padding: 0.4em;
}
.button-icon {
  
}
.close-wrap {
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  top: 0.2em;
  right: 0.2em;
  display: block;
  cursor: pointer;
  padding: 0.3em;
}
.close-wrap.small {
  width: 0.9em;
  height: 0.9em;
  top: 0.1em;
  right: 0.1em;
  padding: 0.2em;
}
.circle-button, .button-icon::before, .button-icon::after, .close-wrap, .close::before, .close::after {
  transition: 0.2s;
}
.circle-button:hover, .button-icon::before, .button-icon::after, .close-wrap:hover, .close::before, .close::after {
  background: #ccc;
  background: var(--col-btn-utility);
}
.circle-button:active {
  background: #999;
}
.popup-bg:active + * > * > .close-wrap, .close-wrap:active {
  background: #f00;
}
.circle-button:hover > .button-icon::before, .circle-button:hover > .button-icon::after, .circle-button:active > .button-icon::before, .circle-button:active > .button-icon::after, .close-wrap:hover > .close::before, .close-wrap:hover > .close::after, .close-wrap:active > .close::before, .close-wrap:active > .close::after, .popup-bg:active + * > * > .close-wrap > .close::before, .popup-bg:active + * > * > .close-wrap > .close::after {
  background: #fff;
  background: var(--col-text-btn-dark);
}
.popup-bg:active + * > * > .close-wrap, .close-wrap:hover, .close-wrap:active, .circle-button:hover, .circle-button:active {
  border-radius:50%;
}
.close {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.close::before, .close::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
}
.close::before {
  animation: close-icon-stroke 0.5s ease-out 1;
  transform: rotate(45deg);
}
.close::after {
  animation: close-icon-stroke 0.6s 1;
  transform: rotate(-45deg);
}
@keyframes close-icon-stroke {
  0%, 80% { width:0 }
  100% { width: 100%; }
}
#snowCanvas {
  position:fixed;
  width:100vw;
  height:100vh;
  z-index:2000;
  top:0;
  left:0;
  pointer-events: none;
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -o-pointer-events: none;
  animation: fade-in 2s linear;
}
@keyframes rotate {
  0% { transform: rotate(-360deg); }
  100% { transform: rotate(0); }
}
@keyframes appear-one {
  0% { transform: translateY(-0.75em); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}
@keyframes appear-two {
  0% { transform: translateX(1em); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}
@keyframes appear-three {
  0% { transform: translateX(-20em); opacity: 0; }
  40% { transform: translateX(0.8em); }
  50% { transform: translateX(1em); }
  60% { transform: translateX(0.9em); }
  100% { transform: translateX(0); opacity: 1; }
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes roundify {
  100% { border-radius: 50%; }
}
@keyframes stroke {
  100% { stroke-dashoffset: 0; }
}
